<section class="construction" aria-labelledby="shorts-generator-heading">
  <div class="construction__icon" aria-hidden="true"><mat-icon>view_day</mat-icon></div>
  <p class="construction__eyebrow">Coming soon</p>
  <h1 id="shorts-generator-heading">Shorts Generator</h1>
  <p class="construction__lead">
    Turn horizontal, long-form videos into vertical short-form clips.
  </p>
  <div class="construction__status">
    <mat-icon aria-hidden="true">construction</mat-icon>
    <span>Under construction</span>
  </div>
  <a class="construction__back" routerLink="/">Back to all tools</a>
</section>
